<div class = "row">
  <div class = "col-12 col-md-8 col-lg-8 col-sm-8
  offset-lg-2 offset-sm-2 offset-md-2">
    <%=render :partial => 'form',
      :locals => {:property => @property, :title => (t :property_edit_title) }%>
  </div>
</div>    