<!-- FRANCHISE USER -->
<ul class="navbar-nav mr-auto">
  <li class = "nav-item">
    <%=link_to (t :account) , '#', class: 'nav-link'%>
  </li>  
  <!-- PROPERTIES -->
  <li class ="nav-item">
    <%=link_to (t :properties) ,  '#',class: 'nav-link'%>
  </li>  

  <!-- ROOMS -->
  <li class="nav-item">
  
    <%=link_to (t :rooms) ,  '#',class: 'nav-link'%>
  </li> 

    <!-- ITEMS -->
  <li class="nav-item">
    <%=link_to (t :items) , '#',class: 'nav-link'%>
  </li>  

  
</ul>