<div class = "row">
  <div class = "col-12 col-md-6 col-lg-8">
    <div class = "col-12">
  	  <%=image_pack_tag("trunfo.jpg", 
                        style: 'width:100%',
                        id:"main-logo")%>
    </div>
    <div class = "row">
      <div class = "col-12 col-md-12 col-lg-8">
        <h5 class = "trunfo-main" 
            style="padding-left: 50px;display: inline-block">
          <%=I18n.t('trunfo_mottos').sample%>
        </h5>
      </div>
      <div class = "col-12 col-md-12 col-lg-4" style="text-align:right">
        <%= link_to (t :find_out_more), about_path,
            class:"btn btn-trunfo"%>
      </div>
    </div>
    <br>
  </div>

  <div class = "col-12 col-md-6 col-lg-4">
  	<div class = "card">
  		<div class = "card-header login_header">
  			<h5><%= t :welcome%></h5>
  		</div>
  	  <div class = "card-body">	
        <%=form_for(:user, :url => session_path(:user)) do |f| %>
          <div class = "form-group">
            <%=f.email_field :email, class: "form-control",
            placeholder: "Email"%>
          </div>
          <div class = "form-group">
            <%=f.password_field :password, class: "form-control",
            placeholder: "Password" %>
          </div>
    
          <div class = "form-check">
            <%= f.check_box :remember_me,
            class: "form-check-input" %>
            <%= f.label :remember_me,(t :remember),
            class: "form-check-label" %>
          </div>
          <br>
          <%= f.submit 'Log In',
          class: "btn btn-block btn-trunfo" %>
          <br>
          <%=link_to (t :forgot_pass),
            new_password_path(:user) %>
          <br>
          <%=link_to (t :sign_up),
            new_user_registration_path, id: 'registration_link' %>
        <% end %> 
      </div>   
    </div>
  </div>
</div>

