<div class="row" align="center">
  <%=image_pack_tag("trunfo.jpg",
  style: 'width:50%') %>
</div>
<br>
<div align="center">
  <h2>Sorry, this page has moved, or doesn't exist!</h2>
</div>
<br>
<div align="center">
  <%= link_to "Take me back Home",root_url, class: "btn  btn-trunfo"%>
</div>



