@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

:root {
  --trunfo-main:#e64a17;
  --trunfo-light:#e67817;
  --trunfo-dark:#d90d00;
}

$off-white: #f7f7f7;

@import "~bootstrap/scss/bootstrap";


@media(max-width: 768px) {
  h5 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.50rem;
  }
  h2 {
    font-size: 1.75rem;
  }  
  h1 {
    font-size: 2rem;
  }

  body {
    font-size: 14px;
  }

  

}
  body {
  margin-bottom: 10px;
}

.login_header{
  background-color: var(--trunfo-main);
  color: white
}


.btn-trunfo{
  @include button-variant(#e64a17, darken(#e64a17,7.5%),darken(#e64a17,10%),lighten(#e64a17,5%),lighten(#e64a17,10%),darken(#e64a17,30%))
}

.btn-outline-trunfo {
  @include button-outline-variant(#e64a17, #222222, lighten(#e64a17,5%), #e64a17);
}

/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance:textfield;
    -webkit-appearance:textfield;
    -o-appearance:textfield;
    -khtml-appearance:textfield;
}

/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.trunfo-main
{
  color: var(--trunfo-main);
}

a.trunfo-main:link {
  color: var(--trunfo-main); 
}

a.trunfo-main:hover {
  color: var(--trunfo-light); 
}

.trunfo-dark 
{
  color: var(--trunfo-dark)
}

.trunfo-light
{
  color: var(--trunfo-light)
}

.btn-file {
  position: relative;
  overflow: hidden
}

.btn-file input[type=file]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
} 

.move-left{
  width: auto;
  box-shadow: none;
}

.round {
  border-radius: 50%;
  }

.error{
  border: 1px solid red !important;
}

.field_with_errors {
  display: inline;
}

.field_with_errors input{
  border: 1px solid red !important;
}

.field_with_errors select{
  border: 1px solid red !important;
}


.room_detail_columns {
  border-style: solid;
  border-width: thin;
  padding: 0.75rem 1.25rem !important;
  border-color: var(--trunfo-light);
}

.table > tbody > tr:first-child > td {
    border: none;}


.table-properties > tbody > tr:hover {
  background: $off-white;
}
/***************************************************/
/* CSS for Error message formatting                */
/***************************************************/

.alert-error{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert{
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: left;
}

.alert-success{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/***************************************************/
/* CSS to change backcolor of required field       */
/***************************************************/
input:required {
  background-color: rgba(0, 200, 0, 0.05);
}

select:required{
  background-color: rgba(0, 200, 0, 0.05); 
}

input:required:focus {
  border: 1px solid green;
  outline: none;
}

/***************************************************/
//CSS for the Navbar
/**************************************************/
.content {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar{
  background: $off-white;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 50px;
  width: auto;
}



/* change the link color */
.navbar .navbar-nav .nav-link {
  color: var(--trunfo-main);
}

.navbar .navbar-nav > li > a:hover {
  //color: var(--trunfo-dark);
  color: var(--trunfo-dark);
}



.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


.room_icon {
  padding-left:100px;
  height:100px; 
  display:inline-block;
  line-height:100px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:25px;
  vertical-align:middle;
} 
/***************************************************/
//CSS for Picture Checkbox
/***************************************************/
input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:30px;
  height:100px; 
  display:inline-block;
  line-height:100px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:25px;
  vertical-align:middle;
  cursor:pointer;
}



input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:100px;
  height:100px; 
  display:inline-block;
  line-height:25px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -100px;
}

label.css-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}